
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.about-us-84P {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ece7e3;
}
.about-us-84P .nav-bar-LAT {
  box-sizing: border-box;
  padding: 2.4rem 6.9rem 2.4rem 8rem;
  width: 100%;
  height: 9.6rem;
  display: flex;
  align-items: center;
  background-color: #ece7e3;
  flex-shrink: 0;
}
.about-us-84P .nav-bar-LAT .kickflip-ZhR {
  margin: 0.5rem 34.3rem 0rem 0rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2300000191;
  letter-spacing: 0.276rem;
  color: #18313f;
  font-family: Clash Display, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.about-us-84P .nav-bar-LAT .kickflip-ZhR .kickflip-ZhR-sub-0 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: 0.276rem;
  color: #18313f;
  font-family: Clash Display, 'Source Sans Pro';
}
.about-us-84P .nav-bar-LAT .kickflip-ZhR .kickflip-ZhR-sub-1 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: 0.276rem;
  color: #ff6546;
  font-family: Clash Display, 'Source Sans Pro';
}
.about-us-84P .nav-bar-LAT .frame-6-tQF {
  margin: 1.5rem 24.4rem 1rem 0rem;
  height: calc(100% - 2.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.about-us-84P .nav-bar-LAT .frame-6-tQF .mens-CA3 {
  margin-right: 5rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.15;
  color: #18313f;
  font-family: Clash Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-84P .nav-bar-LAT .frame-6-tQF .womens-6mD {
  margin-right: 5.5rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.15;
  color: #18313f;
  font-family: Clash Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-84P .nav-bar-LAT .frame-6-tQF .childrens-pBR {
  margin-right: 5.3rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.15;
  color: #18313f;
  font-family: Clash Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-84P .nav-bar-LAT .frame-6-tQF .outlet-8hu {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.15;
  color: #18313f;
  font-family: Clash Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-84P .nav-bar-LAT .frame-10-SyV {
  height: 100%;
  display: flex;
  column-gap: 1.6rem;
  align-items: center;
  flex-shrink: 0;
}
.about-us-84P .nav-bar-LAT .frame-10-SyV .frame-12-CBy {
  width: 4.8rem;
  height: 4.8rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 50rem;
  flex-shrink: 0;
}
.about-us-84P .nav-bar-LAT .frame-10-SyV .carbon-search-JF1 {
  width: 4.8rem;
  height: 4.8rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 50rem;
  flex-shrink: 0;
}
.about-us-84P .nav-bar-LAT .frame-10-SyV .frame-11-R4j {
  width: 4.8rem;
  height: 4.8rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 50rem;
  flex-shrink: 0;
}
.about-us-84P .auto-group-ebwd-JPR {
  width: 100%;
  height: 191.2rem;
  position: relative;
  flex-shrink: 0;
}
.about-us-84P .auto-group-ebwd-JPR .frame-13-z1M {
  box-sizing: border-box;
  padding-bottom: 13.6rem;
  width: 144rem;
  height: 191.2rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.about-us-84P .auto-group-ebwd-JPR .frame-13-z1M .auto-group-9aut-Stw {
  box-sizing: border-box;
  padding: 4.9rem 0rem 8.7rem 52.7rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-us-84P .auto-group-ebwd-JPR .frame-13-z1M .auto-group-9aut-Stw .auto-group-1vmj-kud {
  margin: 0rem 0rem 0.281rem 25.1rem;
  width: calc(100% - 25.1rem);
  height: 69.8192rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.about-us-84P .auto-group-ebwd-JPR .frame-13-z1M .auto-group-9aut-Stw .auto-group-1vmj-kud .unsplash-rrnkffm9jji-SXZ {
  margin: 0rem 3rem 1.419rem 0rem;
  width: 26.9rem;
  height: 40.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.about-us-84P .auto-group-ebwd-JPR .frame-13-z1M .auto-group-9aut-Stw .auto-group-1vmj-kud .auto-group-5quh-7dh {
  width: 38.0054rem;
  height: 100%;
  flex-shrink: 0;
}
.about-us-84P .auto-group-ebwd-JPR .frame-13-z1M .auto-group-9aut-Stw .auto-group-1vmj-kud .auto-group-5quh-7dh .unsplash-1vy2qczd5fu-kq5 {
  margin-bottom: 4.2rem;
  width: 32.4rem;
  height: 23.1rem;
  object-fit: cover;
  vertical-align: top;
}
.about-us-84P .auto-group-ebwd-JPR .frame-13-z1M .auto-group-9aut-Stw .auto-group-1vmj-kud .auto-group-5quh-7dh .auto-group-kb2m-Sxo {
  width: 100%;
  height: 42.5192rem;
  position: relative;
}
.about-us-84P .auto-group-ebwd-JPR .frame-13-z1M .auto-group-9aut-Stw .auto-group-1vmj-kud .auto-group-5quh-7dh .auto-group-kb2m-Sxo .highlight06-BvP {
  width: 25.8055rem;
  height: 22.2913rem;
  position: absolute;
  left: 12.2rem;
  top: 20.2279rem;
  object-fit: contain;
  vertical-align: top;
}
.about-us-84P .auto-group-ebwd-JPR .frame-13-z1M .auto-group-9aut-Stw .auto-group-1vmj-kud .auto-group-5quh-7dh .auto-group-kb2m-Sxo .unsplash-rj8ohjw9rba-gcF {
  width: 24.3rem;
  height: 36.4rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.about-us-84P .auto-group-ebwd-JPR .frame-13-z1M .auto-group-9aut-Stw .the-story-so-far-CqV {
  margin-right: 58.8rem;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.1400000254;
  color: #18313f;
  font-family: Clash Display, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.about-us-84P .auto-group-ebwd-JPR .frame-13-z1M .auto-group-9aut-Stw .the-story-so-far-CqV .the-story-so-far-CqV-sub-0 {
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.1400000254;
  color: #18313f;
  font-family: Clash Display, 'Source Sans Pro';
}
.about-us-84P .auto-group-ebwd-JPR .frame-13-z1M .auto-group-9aut-Stw .the-story-so-far-CqV .the-story-so-far-CqV-sub-1 {
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.1400000254;
  color: #ff6546;
  font-family: Clash Display, 'Source Sans Pro';
}
.about-us-84P .auto-group-ebwd-JPR .frame-13-z1M .auto-group-ydem-ytB {
  width: 100%;
  height: 88.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.about-us-84P .auto-group-ebwd-JPR .frame-13-z1M .auto-group-ydem-ytB .auto-group-ph9x-iqm {
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-us-84P .auto-group-ebwd-JPR .frame-13-z1M .auto-group-ydem-ytB .auto-group-ph9x-iqm .item-2011-rh5 {
  margin: 0rem 1.3rem 29.6rem 0rem;
  font-size: 25.0877rem;
  font-weight: 600;
  line-height: 1.1399999805;
  color: #ece7e3;
  font-family: Clash Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-84P .auto-group-ebwd-JPR .frame-13-z1M .auto-group-ydem-ytB .auto-group-ph9x-iqm .unsplash-1vy2qczd5fu-izB {
  width: 42.4rem;
  height: 30.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.about-us-84P .auto-group-ebwd-JPR .frame-13-z1M .auto-group-ydem-ytB .auto-group-b8e9-e79 {
  box-sizing: border-box;
  padding: 3rem 0rem 3rem 5.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.about-us-84P .auto-group-ebwd-JPR .frame-13-z1M .auto-group-ydem-ytB .auto-group-b8e9-e79 .auto-group-52bo-mBm {
  margin: 0rem 3.4rem 6.1rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-us-84P .auto-group-ebwd-JPR .frame-13-z1M .auto-group-ydem-ytB .auto-group-b8e9-e79 .auto-group-52bo-mBm .how-it-started-gZd {
  margin-bottom: 1.9rem;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.1400000254;
  color: #18313f;
  font-family: Clash Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-84P .auto-group-ebwd-JPR .frame-13-z1M .auto-group-ydem-ytB .auto-group-b8e9-e79 .auto-group-52bo-mBm .in-2021-henry-klapp-decided-to-start-selling-his-rare-sneakers-on-the-online-sphere-with-a-small-paypal-account-and-facebook-we-were-up-and-running-QVd {
  margin-bottom: 12.8rem;
  max-width: 51.2rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #18313f;
  font-family: Satoshi, 'Source Sans Pro';
  flex-shrink: 0;
}
.about-us-84P .auto-group-ebwd-JPR .frame-13-z1M .auto-group-ydem-ytB .auto-group-b8e9-e79 .auto-group-52bo-mBm .the-web-store-is-live-EUf {
  margin: 0rem 0rem 1.9rem 32.7rem;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.1400000254;
  color: #18313f;
  font-family: Clash Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-84P .auto-group-ebwd-JPR .frame-13-z1M .auto-group-ydem-ytB .auto-group-b8e9-e79 .auto-group-52bo-mBm .in-2021-henry-klapp-decided-to-start-selling-his-rare-sneakers-on-the-online-sphere-with-a-small-paypal-account-and-facebook-we-were-up-and-running-LGo {
  margin: 0rem 0rem 12.8rem 32.7rem;
  max-width: 51.2rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #18313f;
  font-family: Satoshi, 'Source Sans Pro';
  flex-shrink: 0;
}
.about-us-84P .auto-group-ebwd-JPR .frame-13-z1M .auto-group-ydem-ytB .auto-group-b8e9-e79 .auto-group-52bo-mBm .growth-gets-bigger-BHR {
  margin-bottom: 1.9rem;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.1400000254;
  color: #18313f;
  font-family: Clash Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-84P .auto-group-ebwd-JPR .frame-13-z1M .auto-group-ydem-ytB .auto-group-b8e9-e79 .auto-group-52bo-mBm .our-business-has-been-getting-bigger-and-bigger-and-now-we-have-240-employees-13-stores-and-over-three-million-web-visits-every-single-month-Jsq {
  max-width: 48.4rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #18313f;
  font-family: Satoshi, 'Source Sans Pro';
  flex-shrink: 0;
}
.about-us-84P .auto-group-ebwd-JPR .frame-13-z1M .auto-group-ydem-ytB .auto-group-b8e9-e79 .auto-group-ete1-BRq {
  margin: 17.8rem 0rem 23.4rem 0rem;
  width: 41.2rem;
  height: calc(100% - 41.2rem);
  position: relative;
  flex-shrink: 0;
}
.about-us-84P .auto-group-ebwd-JPR .frame-13-z1M .auto-group-ydem-ytB .auto-group-b8e9-e79 .auto-group-ete1-BRq .highlight05-74b {
  width: 10.8897rem;
  height: 9.7196rem;
  position: absolute;
  left: 9.1rem;
  top: 5.4439rem;
}
.about-us-84P .auto-group-ebwd-JPR .frame-13-z1M .auto-group-ydem-ytB .auto-group-b8e9-e79 .auto-group-ete1-BRq .highlight05-74b .auto-group-xe2y-Rqy {
  margin: 0rem 0rem 1.707rem 1.272rem;
  width: calc(100% - 1.2723rem);
  display: flex;
  align-items: flex-start;
}
.about-us-84P .auto-group-ebwd-JPR .frame-13-z1M .auto-group-ydem-ytB .auto-group-b8e9-e79 .auto-group-ete1-BRq .highlight05-74b .auto-group-xe2y-Rqy .vector-Yvb {
  margin: 0.634rem 2.428rem 0rem 0rem;
  width: 5.9195rem;
  height: 5.7262rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-us-84P .auto-group-ebwd-JPR .frame-13-z1M .auto-group-ydem-ytB .auto-group-b8e9-e79 .auto-group-ete1-BRq .highlight05-74b .auto-group-xe2y-Rqy .vector-G5u {
  width: 1.2695rem;
  height: 3.3799rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-us-84P .auto-group-ebwd-JPR .frame-13-z1M .auto-group-ydem-ytB .auto-group-b8e9-e79 .auto-group-ete1-BRq .highlight05-74b .vector-CkF {
  width: 3.5986rem;
  height: 1.6525rem;
  object-fit: contain;
  vertical-align: top;
}
.about-us-84P .auto-group-ebwd-JPR .frame-13-z1M .auto-group-ydem-ytB .auto-group-b8e9-e79 .auto-group-ete1-BRq .air-max-genome-mens-shoes-f4shr3-Md9 {
  width: 41.2rem;
  height: 41.2rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.about-us-84P .auto-group-ebwd-JPR .frame-18-4Gf {
  width: 48.4rem;
  height: 44.7rem;
  position: absolute;
  left: 10.5rem;
  top: 16.4rem;
}
.about-us-84P .auto-group-ebwd-JPR .frame-18-4Gf .frame-17-zAK {
  margin-bottom: 3.6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.about-us-84P .auto-group-ebwd-JPR .frame-18-4Gf .frame-17-zAK .we-are-more-than-a-shop-this-is-a-lifestyle-93D {
  margin-bottom: 1.6rem;
  max-width: 48.4rem;
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #18313f;
  font-family: Clash Display, 'Source Sans Pro';
  flex-shrink: 0;
}
.about-us-84P .auto-group-ebwd-JPR .frame-18-4Gf .frame-17-zAK .we-are-more-than-a-shop-this-is-a-lifestyle-93D .we-are-more-than-a-shop-this-is-a-lifestyle-93D-sub-0 {
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #18313f;
  font-family: Clash Display, 'Source Sans Pro';
}
.about-us-84P .auto-group-ebwd-JPR .frame-18-4Gf .frame-17-zAK .we-are-more-than-a-shop-this-is-a-lifestyle-93D .we-are-more-than-a-shop-this-is-a-lifestyle-93D-sub-1 {
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #18313f;
  font-family: Clash Display, 'Source Sans Pro';
}
.about-us-84P .auto-group-ebwd-JPR .frame-18-4Gf .frame-17-zAK .we-are-more-than-a-shop-this-is-a-lifestyle-93D .we-are-more-than-a-shop-this-is-a-lifestyle-93D-sub-2 {
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #ff6546;
  font-family: Clash Display, 'Source Sans Pro';
}
.about-us-84P .auto-group-ebwd-JPR .frame-18-4Gf .frame-17-zAK .world-reknowned-as-one-of-the-best-stockists-of-exclusive-stylish-footwear-and-streetwear-welcome-to-kickflip-Tbd {
  max-width: 45rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #18313f;
  font-family: Satoshi, 'Source Sans Pro';
  flex-shrink: 0;
}
.about-us-84P .auto-group-ebwd-JPR .frame-18-4Gf .component-1-YNB {
  width: 19.7rem;
  height: 5.6rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Clash Display, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff6546;
}
.about-us-84P .auto-group-amx9-EF1 {
  box-sizing: border-box;
  padding: 6.4rem 8rem 13.7rem 8rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-us-84P .auto-group-amx9-EF1 .frame-23-wv7 {
  margin: 0rem 50.1rem 3.9rem 45.5rem;
  width: calc(100% - 95.6rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-us-84P .auto-group-amx9-EF1 .frame-23-wv7 .what-makes-us-different-GSb {
  margin: 0rem 0rem 1.6rem 0.1rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.15;
  letter-spacing: 0.22rem;
  color: #ff6546;
  font-family: Clash Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-84P .auto-group-amx9-EF1 .frame-23-wv7 .the-values-we-live-by-meF {
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.1400000254;
  color: #18313f;
  font-family: Clash Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-84P .auto-group-amx9-EF1 .frame-62-tym {
  width: 100%;
  height: 32.9rem;
  position: relative;
  overflow: hidden;
  border: solid 0.1rem #ece7e3;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.2rem;
  flex-shrink: 0;
}
.about-us-84P .auto-group-amx9-EF1 .frame-62-tym .quality-first-cPy {
  width: 9.7rem;
  height: 2.3rem;
  position: absolute;
  left: 9.1rem;
  top: 23.3rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1399999619;
  color: #18313f;
  font-family: Clash Display, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-84P .auto-group-amx9-EF1 .frame-62-tym .high-performing-WVM {
  width: 13.7rem;
  height: 2.3rem;
  position: absolute;
  left: 41.25rem;
  top: 23.3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1399999619;
  color: #18313f;
  font-family: Clash Display, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-84P .auto-group-amx9-EF1 .frame-62-tym .results-driven-Pp3 {
  width: 11.8rem;
  height: 2.3rem;
  position: absolute;
  left: 74.7rem;
  top: 23.3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1399999619;
  color: #18313f;
  font-family: Clash Display, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-84P .auto-group-amx9-EF1 .frame-62-tym .for-the-culture-tVu {
  width: 12.3rem;
  height: 2.3rem;
  position: absolute;
  left: 106.95rem;
  top: 23.3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1399999619;
  color: #18313f;
  font-family: Clash Display, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-84P .auto-group-amx9-EF1 .frame-62-tym .next-day-latest-delivery-in-prague-PSf {
  width: 19.4rem;
  height: 1.6rem;
  position: absolute;
  left: 4.2rem;
  top: 26.4rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.1400000027;
  color: #18313f;
  font-family: Satoshi, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-84P .auto-group-amx9-EF1 .frame-62-tym .got-a-problem-were-here-for-ya-5aP {
  width: 19rem;
  height: 1.6rem;
  position: absolute;
  left: 70rem;
  top: 26.4rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.1400000027;
  color: #18313f;
  font-family: Satoshi, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-84P .auto-group-amx9-EF1 .frame-62-tym .moji-hand-with-magnifying-glass-1-1-N3h {
  width: 17.8rem;
  height: 17.8rem;
  position: absolute;
  left: 71.7rem;
  top: 4.7rem;
  object-fit: cover;
  vertical-align: top;
}
.about-us-84P .auto-group-amx9-EF1 .frame-62-tym .find-better-get-paid-the-difference-GPy {
  width: 20rem;
  height: 1.6rem;
  position: absolute;
  left: 37.1rem;
  top: 26.4rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.1400000027;
  color: #18313f;
  font-family: Satoshi, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-84P .auto-group-amx9-EF1 .frame-62-tym .the-best-online-shopping-experience-mLj {
  width: 21.4rem;
  height: 1.6rem;
  position: absolute;
  left: 101.5rem;
  top: 26.4rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.1400000027;
  color: #18313f;
  font-family: Satoshi, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-84P .auto-group-amx9-EF1 .frame-62-tym .moji-ok-hand-1-fh1 {
  width: 17.8rem;
  height: 17.8rem;
  position: absolute;
  left: 5.8rem;
  top: 4.7rem;
  object-fit: cover;
  vertical-align: top;
}
.about-us-84P .auto-group-amx9-EF1 .frame-62-tym .moji-hand-with-flag-1-1-zjH {
  width: 17.8rem;
  height: 17.8rem;
  position: absolute;
  left: 39.1rem;
  top: 4.7rem;
  object-fit: cover;
  vertical-align: top;
}
.about-us-84P .auto-group-amx9-EF1 .frame-62-tym .frame-63-7ou {
  box-sizing: border-box;
  padding: 4.7rem 6.6rem 4.1rem 4.7rem;
  width: 128rem;
  height: 32.9rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  border: solid 0.1rem #ece7e3;
  background-color: #ffffff;
  border-radius: 0.2rem;
}
.about-us-84P .auto-group-amx9-EF1 .frame-62-tym .frame-63-7ou .auto-group-rhzd-R3u {
  margin-right: 13.2rem;
  height: 100%;
  row-gap: 0.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-us-84P .auto-group-amx9-EF1 .frame-62-tym .frame-63-7ou .auto-group-rhzd-R3u .moji-ok-hand-1-MCT {
  margin-left: 1.1rem;
  width: 17.8rem;
  height: 17.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.about-us-84P .auto-group-amx9-EF1 .frame-62-tym .frame-63-7ou .auto-group-rhzd-R3u .quality-first-GqD {
  margin-right: 0.4rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.15;
  color: #18313f;
  font-family: Clash Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-84P .auto-group-amx9-EF1 .frame-62-tym .frame-63-7ou .auto-group-rhzd-R3u .the-premium-product-place-1H1 {
  margin-right: 0.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #18313f;
  font-family: Satoshi, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-84P .auto-group-amx9-EF1 .frame-62-tym .frame-63-7ou .auto-group-21vd-vum {
  margin-right: 13.4rem;
  height: 100%;
  row-gap: 0.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-us-84P .auto-group-amx9-EF1 .frame-62-tym .frame-63-7ou .auto-group-21vd-vum .moji-hand-with-flag-1-1-Gij {
  margin-left: 1.8rem;
  width: 17.8rem;
  height: 17.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.about-us-84P .auto-group-amx9-EF1 .frame-62-tym .frame-63-7ou .auto-group-21vd-vum .high-performing-QK9 {
  margin-left: 2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.15;
  color: #18313f;
  font-family: Clash Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-84P .auto-group-amx9-EF1 .frame-62-tym .frame-63-7ou .auto-group-21vd-vum .we-ship-products-double-quick-iqd {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #18313f;
  font-family: Satoshi, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-84P .auto-group-amx9-EF1 .frame-62-tym .frame-63-7ou .auto-group-wyqm-rB9 {
  margin-right: 13.6rem;
  height: 100%;
  row-gap: 0.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-us-84P .auto-group-amx9-EF1 .frame-62-tym .frame-63-7ou .auto-group-wyqm-rB9 .moji-hand-with-magnifying-glass-1-1-Pgs {
  margin-left: 0.9rem;
  width: 17.8rem;
  height: 17.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.about-us-84P .auto-group-amx9-EF1 .frame-62-tym .frame-63-7ou .auto-group-wyqm-rB9 .results-driven-7sm {
  margin-left: 0.9rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.15;
  color: #18313f;
  font-family: Clash Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-84P .auto-group-amx9-EF1 .frame-62-tym .frame-63-7ou .auto-group-wyqm-rB9 .we-make-shit-happen-baby-d5R {
  margin-right: 0.7rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #18313f;
  font-family: Satoshi, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-84P .auto-group-amx9-EF1 .frame-62-tym .frame-63-7ou .auto-group-6fuy-YCP {
  height: 100%;
  row-gap: 0.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-us-84P .auto-group-amx9-EF1 .frame-62-tym .frame-63-7ou .auto-group-6fuy-YCP .moji-hand-with-ring-1-1-Gu5 {
  margin-left: 1.7rem;
  width: 8rem;
  height: 17.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.about-us-84P .auto-group-amx9-EF1 .frame-62-tym .frame-63-7ou .auto-group-6fuy-YCP .for-the-culture-zq5 {
  margin-left: 1.7rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.15;
  color: #18313f;
  font-family: Clash Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-84P .auto-group-amx9-EF1 .frame-62-tym .frame-63-7ou .auto-group-6fuy-YCP .for-the-heads-by-the-heads-8RV {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #18313f;
  font-family: Satoshi, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-84P .sectionfooter-Zmh {
  box-sizing: border-box;
  padding: 7.3rem 8rem 2.8rem 8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #18313f;
  flex-shrink: 0;
}
.about-us-84P .sectionfooter-Zmh .auto-group-ysbx-5k3 {
  margin: 0rem 18.3rem 2.6rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.about-us-84P .sectionfooter-Zmh .auto-group-ysbx-5k3 .dripcity-pBq {
  margin-right: 42rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: 0.276rem;
  color: #ffffff;
  font-family: Clash Display, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.about-us-84P .sectionfooter-Zmh .auto-group-ysbx-5k3 .dripcity-pBq .dripcity-pBq-sub-0 {
}
.about-us-84P .sectionfooter-Zmh .auto-group-ysbx-5k3 .dripcity-pBq .dripcity-pBq-sub-1 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: 0.276rem;
  color: #ff6546;
  font-family: Clash Display, 'Source Sans Pro';
}
.about-us-84P .sectionfooter-Zmh .auto-group-ysbx-5k3 .shop-for-drip-ZYj {
  margin: 0.2rem 10.9rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.15;
  color: #ffffff;
  font-family: Clash Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-84P .sectionfooter-Zmh .auto-group-ysbx-5k3 .popular-brands-5my {
  margin: 0.2rem 9.1rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.15;
  color: #ffffff;
  font-family: Clash Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-84P .sectionfooter-Zmh .auto-group-ysbx-5k3 .our-company-1fd {
  margin-top: 0.2rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.15;
  color: #ffffff;
  font-family: Clash Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-84P .sectionfooter-Zmh .auto-group-rwob-kNK {
  margin: 0rem 20.3rem 7.2rem 0rem;
  width: calc(100% - 20.3rem);
  height: 22.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.about-us-84P .sectionfooter-Zmh .auto-group-rwob-kNK .auto-group-efbb-TnX {
  box-sizing: border-box;
  padding-right: 13.8rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.about-us-84P .sectionfooter-Zmh .auto-group-rwob-kNK .auto-group-efbb-TnX .auto-group-3fdp-orP {
  margin: 3.6rem 8.2rem 6rem 0rem;
  width: 46.5rem;
  height: calc(100% - 9.6rem);
  flex-shrink: 0;
}
.about-us-84P .sectionfooter-Zmh .auto-group-rwob-kNK .auto-group-efbb-TnX .auto-group-3fdp-orP .join-the-drip-city-mailing-list-today-iTZ {
  margin-bottom: 2.4rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.15;
  color: #ffffff;
  font-family: Clash Display, 'Source Sans Pro';
  white-space: nowrap;
}
.about-us-84P .sectionfooter-Zmh .auto-group-rwob-kNK .auto-group-efbb-TnX .auto-group-3fdp-orP .benefits-2z3 {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 2.4rem;
  display: flex;
  align-items: center;
}
.about-us-84P .sectionfooter-Zmh .auto-group-rwob-kNK .auto-group-efbb-TnX .auto-group-3fdp-orP .benefits-2z3 .frame-37-B6F {
  margin-right: 3.6rem;
  box-sizing: border-box;
  padding-left: 0.1rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.about-us-84P .sectionfooter-Zmh .auto-group-rwob-kNK .auto-group-efbb-TnX .auto-group-3fdp-orP .benefits-2z3 .frame-37-B6F .carbon-checkmark-filled-i6B {
  margin: 0rem 1.2rem 0rem 0rem;
  width: 1.4rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-us-84P .sectionfooter-Zmh .auto-group-rwob-kNK .auto-group-efbb-TnX .auto-group-3fdp-orP .benefits-2z3 .frame-37-B6F .exclusive-drops-RmH {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Satoshi, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-84P .sectionfooter-Zmh .auto-group-rwob-kNK .auto-group-efbb-TnX .auto-group-3fdp-orP .benefits-2z3 .frame-37-AD5 {
  margin-right: 3.7rem;
  box-sizing: border-box;
  padding-left: 0.1rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.about-us-84P .sectionfooter-Zmh .auto-group-rwob-kNK .auto-group-efbb-TnX .auto-group-3fdp-orP .benefits-2z3 .frame-37-AD5 .carbon-checkmark-filled-JKH {
  margin: 0rem 1.2rem 0rem 0rem;
  width: 1.4rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-us-84P .sectionfooter-Zmh .auto-group-rwob-kNK .auto-group-efbb-TnX .auto-group-3fdp-orP .benefits-2z3 .frame-37-AD5 .monthly-discounts-poR {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Satoshi, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-84P .sectionfooter-Zmh .auto-group-rwob-kNK .auto-group-efbb-TnX .auto-group-3fdp-orP .benefits-2z3 .frame-38-xud {
  box-sizing: border-box;
  padding-left: 0.1rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.about-us-84P .sectionfooter-Zmh .auto-group-rwob-kNK .auto-group-efbb-TnX .auto-group-3fdp-orP .benefits-2z3 .frame-38-xud .carbon-checkmark-filled-Ww9 {
  margin: 0rem 1.2rem 0rem 0rem;
  width: 1.4rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-us-84P .sectionfooter-Zmh .auto-group-rwob-kNK .auto-group-efbb-TnX .auto-group-3fdp-orP .benefits-2z3 .frame-38-xud .event-invites-qyR {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Satoshi, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-84P .sectionfooter-Zmh .auto-group-rwob-kNK .auto-group-efbb-TnX .auto-group-3fdp-orP .email-input-ypj {
  margin-right: 2.8rem;
  width: calc(100% - 2.8rem);
  height: 4.1rem;
  display: flex;
  align-items: center;
}
.about-us-84P .sectionfooter-Zmh .auto-group-rwob-kNK .auto-group-efbb-TnX .auto-group-3fdp-orP .email-input-ypj .email-field-XLT {
  width: 31.1rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  flex-shrink: 0;
}
.about-us-84P .sectionfooter-Zmh .auto-group-rwob-kNK .auto-group-efbb-TnX .auto-group-3fdp-orP .email-input-ypj .component-1-575 {
  width: 12.6rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.1399999857;
  color: #ffffff;
  font-family: Clash Display, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff6546;
  flex-shrink: 0;
}
.about-us-84P .sectionfooter-Zmh .auto-group-rwob-kNK .auto-group-efbb-TnX .shop-links-NM5 {
  margin-right: 15.4rem;
  row-gap: 1.6rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-us-84P .sectionfooter-Zmh .auto-group-rwob-kNK .auto-group-efbb-TnX .shop-links-NM5 .mens-g6s {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Satoshi, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-84P .sectionfooter-Zmh .auto-group-rwob-kNK .auto-group-efbb-TnX .shop-links-NM5 .womens-cWK {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Satoshi, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-84P .sectionfooter-Zmh .auto-group-rwob-kNK .auto-group-efbb-TnX .shop-links-NM5 .childrens-k6j {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Satoshi, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-84P .sectionfooter-Zmh .auto-group-rwob-kNK .auto-group-efbb-TnX .shop-links-NM5 .outlet-H6f {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Satoshi, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-84P .sectionfooter-Zmh .auto-group-rwob-kNK .auto-group-efbb-TnX .brands-links-Dm1 {
  row-gap: 1.6rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-us-84P .sectionfooter-Zmh .auto-group-rwob-kNK .auto-group-efbb-TnX .brands-links-Dm1 .nike-AgF {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Satoshi, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-84P .sectionfooter-Zmh .auto-group-rwob-kNK .auto-group-efbb-TnX .brands-links-Dm1 .puma-u83 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Satoshi, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-84P .sectionfooter-Zmh .auto-group-rwob-kNK .auto-group-efbb-TnX .brands-links-Dm1 .off-white-SNs {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Satoshi, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-84P .sectionfooter-Zmh .auto-group-rwob-kNK .auto-group-efbb-TnX .brands-links-Dm1 .palm-angels-ZCb {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Satoshi, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-84P .sectionfooter-Zmh .auto-group-rwob-kNK .auto-group-efbb-TnX .brands-links-Dm1 .adidas-sDH {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Satoshi, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-84P .sectionfooter-Zmh .auto-group-rwob-kNK .company-links-a7h {
  height: 100%;
  row-gap: 1.6rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-us-84P .sectionfooter-Zmh .auto-group-rwob-kNK .company-links-a7h .our-history-VEf {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Satoshi, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-84P .sectionfooter-Zmh .auto-group-rwob-kNK .company-links-a7h .our-team-cKH {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Satoshi, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-84P .sectionfooter-Zmh .auto-group-rwob-kNK .company-links-a7h .our-stores-MGs {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Satoshi, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-84P .sectionfooter-Zmh .auto-group-rwob-kNK .company-links-a7h .join-the-team-Vts {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Satoshi, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-84P .sectionfooter-Zmh .auto-group-rwob-kNK .company-links-a7h .contact-us-e15 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Satoshi, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-84P .sectionfooter-Zmh .auto-group-rwob-kNK .company-links-a7h .privacy-policy-Nxf {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Satoshi, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-84P .sectionfooter-Zmh .divider-7QT {
  margin-bottom: 1.9rem;
  width: 100%;
  height: 0.1rem;
  background-color: rgba(255, 255, 255, 0.200000003);
  flex-shrink: 0;
}
.about-us-84P .sectionfooter-Zmh .auto-group-tcy5-qrF {
  box-sizing: border-box;
  padding-left: 103.6rem;
  width: 100%;
  height: 3.6rem;
  flex-shrink: 0;
}
.about-us-84P .sectionfooter-Zmh .auto-group-tcy5-qrF .socials-mzo {
  width: 100%;
  height: 100%;
  display: flex;
  column-gap: 1.6rem;
  align-items: center;
}
.about-us-84P .sectionfooter-Zmh .auto-group-tcy5-qrF .socials-mzo .frame-53-v71 {
  width: 3.6rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 5rem;
  flex-shrink: 0;
}
.about-us-84P .sectionfooter-Zmh .auto-group-tcy5-qrF .socials-mzo .frame-52-3hR {
  width: 3.6rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 5rem;
  flex-shrink: 0;
}
.about-us-84P .sectionfooter-Zmh .auto-group-tcy5-qrF .socials-mzo .frame-54-bD9 {
  width: 3.6rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 5rem;
  flex-shrink: 0;
}
.about-us-84P .sectionfooter-Zmh .auto-group-tcy5-qrF .socials-mzo .frame-50-8Ty {
  width: 3.6rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 5rem;
  flex-shrink: 0;
}
.about-us-84P .sectionfooter-Zmh .auto-group-tcy5-qrF .socials-mzo .frame-51-sRZ {
  width: 3.6rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 5rem;
  flex-shrink: 0;
}
